@import "../../styles/variables";

.todos__form {
  height: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;

  .todos__input,
  .todos__add,
  .todos__filter,
  .filter__option {
    padding: 0 0.5rem;
    font-size: 0.75rem;
    border: $bd-primary;
    cursor: pointer;
  }

  .todos__input {
    width: 40%;
    border-radius: 5px 0 0 5px;
    cursor: auto;
  }
  .todos__add {
    width: 15%;
    border: none;
    color: $clr-light;
    background: $clr-primary;
    border-radius: 0 5px 5px 0;
  }
  .todos__filter {
    width: 35%;
    margin-left: auto;
    border-radius: 5px;
  }
}
