*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ff-primary: sans-serif;
	--ff-secondary: monospace;

	--clr-light: #ffffff;
	--clr-dark: #131313;
    --clr-accent: #126bfe;
	--clr-bg: linear-gradient(90deg, #3e8ade, #1603d3);

	--fs-title: 3.5rem;
	--fs-content: 1.5rem;
    --fs-icon: 1.5rem;
}

/* General styles */
body {
	line-height: 1.5;
	font-family: var(--ff-primary);
	color: var(--clr-dark);
	background: var(--clr-bg);
}
input:focus, select:focus {
    outline: none;
}

/* Layout */
.todo-list-app {
    min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	text-align: center;
    font-size: var(--fs-title);
	color: var(--clr-light);
}
.wrapper {
    min-height: 600px;
	margin-top: 10px;
    padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
    border-radius: 5px;
	box-shadow: 3px 3px 5px var(--clr-dark);
	background: var(--clr-light);
}

/* Form */
form {
    height: 50px;
    width: 500px;
    margin-bottom: 40px;
}
.todo-input, .todo-add, .todos-filter {
    height: 100%;
    padding: 5px 10px;
    font-size: var(--fs-content);
}
.todo-input {
    width: 220px;
    border: 2px solid var(--clr-accent);
}
.todo-add{
    padding: 5px 20px;
    border: none;
    color: var(--clr-light);
    background: var(--clr-accent);
    cursor: pointer;
}
.todos-filter {
    float: right;
    border: 2px solid var(--clr-accent);
}

/* Todo */
.todo, .todo-edit {
    min-height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid var(--clr-accent);
    border-radius: 5px;
    list-style: none;
    word-wrap: break-word;
}
.todo__content, .todo-edit__content{
    font-size: var(--fs-content);
}
.todo-edit {
    border: 2px solid #ff1919;
}
.todo-edit__content {
    width: 400px;
    border: none;
}
.todo__content {
    width: 300px;
}
.todo__icons {
    height: 100%;
    display: flex;
    align-items: center;
}
.icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    color: grey;
    cursor: pointer;
}